<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>title</title>
  <link rel="stylesheet" href="css/style.css" type="text/css">
 </head>
 <body>
   <button type="button" class="btn btn-primary btn-lg">1</button>
   <button type="button" class="btn btn-primary btn-lg">2</button>
   <button type="button" class="btn btn-primary btn-lg">3</button>
   <button type="button" class="btn btn-primary btn-lg">+</button><br><br>
   <button type="button" class="btn btn-primary btn-lg">4</button>
   <button type="button" class="btn btn-primary btn-lg">5</button>
   <button type="button" class="btn btn-primary btn-lg">6</button>
   <button type="button" class="btn btn-primary btn-lg">-</button><br><br>
   <button type="button" class="btn btn-primary btn-lg">7</button>
   <button type="button" class="btn btn-primary btn-lg">8</button>
   <button type="button" class="btn btn-primary btn-lg">9</button>
   <button type="button" class="btn btn-primary btn-lg">*</button><br><br>
   <button type="button" class="btn btn-primary btn-lg">0</button>
   <button type="button" class="btn btn-primary btn-lg">/</button>
   <button type="button" class="btn btn-primary btn-lg">%</button>
   <button type="button" class="btn btn-primary btn-lg">&radic;</button>
</html>