<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>title</title>
  <link rel="stylesheet" href="css/style.css" type="text/css">
 </head>
 <body>
  <button type="button" class="btn btn-primary btn-xs">1</button>
 </body>
</html>