button {
    background-color: white; 
    padding: 2px 4px;
    font: 18px sans-serif;
    text-decoration: underline;
    border: 1px solid magenta;
    border-color: pink;
    color: purple
}

body {
  background-color: maroon;
}

title-section {
  text-align: center;
}

div {
  background-color: lightgreen;
}
p {
  font-size: 400%;
}